# Zomato Data Cleaning
# You have to perform the following tasks:
##  Data Cleaning:

- **Deleting redundant columns.**
- **Renaming the columns.**
- **Dropping duplicates.**
- **Cleaning individual columns.**
- **Remove the NaN values from the dataset**
- **Check for some more Transformations**

In [1]:
# importing the required libraries!

import pandas as pd
import numpy as np

In [2]:
# reading the zomato data, which are in the csv format!

z_data = pd.read_csv('zomato.csv')

In [9]:
#look some data from the top
z_data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [8]:
# look some data from the from the bottom
z_data.tail()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

# Checking for Na's in an indivisual columns

In [140]:
order_z_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51717 non-null  object
 1   location                     51717 non-null  object
 2   address                      51717 non-null  object
 3   phone                        51717 non-null  object
 4   online_order                 51717 non-null  object
 5   cuisines                     51717 non-null  object
 6   listed_in(type)              51717 non-null  object
 7   rate                         43942 non-null  object
 8   votes                        51717 non-null  int64
 9   book_table                   51717 non-null  object
 10  rest_type                    51490 non-null  object
 11  approx_cost(for two people)  51371 non-null  object
dtypes: int64(1), object(11)
memory usage: 4.7+ MB

In [18]:
# checking in menu_item column, how many null value in this particular column.

# checking the length of value in menu_item column
# by seeing the length of the menu_item column I deicede to drop this column because here there is so many empty row.
length = z_data['menu_item'].str.len()

In [21]:
length.head()

0    2
1    2
2    2
3    2
4    2
Name: menu_item, dtype: int64

In [116]:
# checking in location column 

emp_location = order_z_data['location'].isnull().sum()
emp_location

21

In [120]:
# checking in address column
emp_address = order_z_data['address'].isnull().sum()
emp_address

0

In [122]:
# checking in online_order
emp_online_order = order_z_data['online_order'].isnull().sum()
emp_online_order

0

In [124]:
# checking in cuisines column
emp_cuisines = order_z_data['cuisines'].isnull().sum()
emp_cuisines

45

In [128]:
# checking in listed_in(type) column
emp_listed = order_z_data['listed_in(type)'].isnull().sum()
emp_listed

0

In [130]:
# checking for rate column
emp_rate = order_z_data['rate'].isnull().sum()
emp_rate

7775

In [132]:
# checking in votes column
emp_votes = order_z_data['votes'].isnull().sum()
emp_votes

0

In [133]:
# checking in book_table column
emp_book_t = order_z_data['book_table'].isnull().sum()
emp_book_t

0

In [134]:
# checking in rest_type column
emp_rest_type = order_z_data['rest_type'].isnull().sum()
emp_rest_type

227

In [135]:
# checking in approx_cost(for two people) column
emp_cost = order_z_data['approx_cost(for two people)'].isnull().sum()
emp_cost

346

## Droping columns of the dataframe 

- Here I observe that the menu_item and review_list is useless for now!

In [28]:
# droping some useless columns from the datafram for now
new_z_data = z_data.drop(['reviews_list','menu_item','url','listed_in(city)'],axis = 1) 
new_z_data.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

# Reorder the columns for better understanding

In [65]:
columns_reorder = ['name','location','address','phone','online_order','cuisines','listed_in(type)','rate','votes','book_table','rest_type','approx_cost(for two people)']
order_z_data = z_data[columns_reorder]
order_z_data.head()

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1/5,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1/5,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8/5,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7/5,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8/5,166,No,Casual Dining,600

In [66]:
order_z_data.tail()

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
51712,Best Brews - Four Points by Sheraton Bengaluru...,Whitefield,"Four Points by Sheraton Bengaluru, 43/3, White...",080 40301477,No,Continental,Pubs and bars,3.6 /5,27,No,Bar,"1,500"
51713,Vinod Bar And Restaurant,Whitefield,"Number 10, Garudachar Palya, Mahadevapura, Whi...",+91 8197675843,No,Finger Food,Pubs and bars,NaN,0,No,Bar,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,Whitefield,Sheraton Grand Bengaluru Whitefield Hotel & Co...,NaN,No,Finger Food,Pubs and bars,NaN,0,No,Bar,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,"ITPL Main Road, Whitefield",Sheraton Grand Bengaluru Whitefield Hotel & Co...,080 49652769,No,Finger Food,Pubs and bars,4.3 /5,236,Yes,Bar,"2,500"
51716,The Nest - The Den Bengaluru,"ITPL Main Road, Whitefield","ITPL Main Road, KIADB Export Promotion Industr...",+91 8071117272,No,"Finger Food, North Indian, Continental",Pubs and bars,3.4 /5,13,No,"Bar, Casual Dining","1,500"

# Percentage of Na's value in our dataframe

In [67]:
num_cell = np.product(order_z_data.shape)
num_cell

620604

In [68]:
count_emp_cell = order_z_data.isnull().sum().sum()
count_emp_cell

9622

In [69]:
percent_emp_cell = round((count_emp_cell/num_cell)*100,4)
print(f"{percent_emp_cell} %")

1.5504 %

In [70]:
order_z_data['name'].count()

51717

In [72]:
sum_dish_liked =z_data['dish_liked'].isnull().sum()

In [73]:
cell_with_value =  z_data.shape[0] - sum_dish_liked
cell_with_value

23639

In [75]:
#checking for phone column

phone_emp = z_data['phone'].isnull().sum()
phone_emp

1208

# Filling the missing values with another values

#### As, I noticed here in phone column there around 1208 row are empty and this not an easy or you can say it is impossible task for now to get this amount of phone numbers
- So, Here I simply going to replace these values with 'not mentioned(NM)' for short

In [114]:
order_z_data['phone'].fillna(value = 'NM', inplace = True) # inplace is used to change the value at original dataset

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/3543354556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['phone'].fillna(value = 'NM', inplace = True) # inplace is used to change the value at original dataset

In [113]:
order_z_data

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1/5,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1/5,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8/5,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7/5,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8/5,166,No,Casual Dining,600
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,Whitefield,"Four Points by Sheraton Bengaluru, 43/3, White...",080 40301477,No,Continental,Pubs and bars,3.6 /5,27,No,Bar,"1,500"
51713,Vinod Bar And Restaurant,Whitefield,"Number 10, Garudachar Palya, Mahadevapura, Whi...",+91 8197675843,No,Finger Food,Pubs and bars,NaN,0,No,Bar,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,Whitefield,Sheraton Grand Bengaluru Whitefield Hotel & Co...,NM,No,Finger Food,Pubs and bars,NaN,0,No,Bar,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,"ITPL Main Road, Whitefield",Sheraton Grand Bengaluru Whitefield Hotel & Co...,080 49652769,No,Finger Food,Pubs and bars,4.3 /5,236,Yes,Bar,"2,500"
51716,The Nest - The Den Bengaluru,"ITPL Main Road, Whitefield","ITPL Main Road, KIADB Export Promotion Industr...",+91 8071117272,No,"Finger Food, North Indian, Continental",Pubs and bars,3.4 /5,13,No,"Bar, Casual Dining","1,500"

In [121]:
#validating by again checking the phone columns
order_z_data['phone'].isnull().sum()

0

**Again I observed that in location column 21 rows are NaN value** 
- I decided to replace with next row value. as I observe in data most of the location are repeating with certain pattern
- I am bfill() method to do so.

In [117]:
order_z_data['location'].fillna(method = 'bfill', limit = 1, inplace = True)

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/2964109379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['location'].fillna(method = 'bfill', limit = 1, inplace = True)

In [118]:
order_z_data

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1/5,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1/5,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8/5,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7/5,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8/5,166,No,Casual Dining,600
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,Whitefield,"Four Points by Sheraton Bengaluru, 43/3, White...",080 40301477,No,Continental,Pubs and bars,3.6 /5,27,No,Bar,"1,500"
51713,Vinod Bar And Restaurant,Whitefield,"Number 10, Garudachar Palya, Mahadevapura, Whi...",+91 8197675843,No,Finger Food,Pubs and bars,NaN,0,No,Bar,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,Whitefield,Sheraton Grand Bengaluru Whitefield Hotel & Co...,NM,No,Finger Food,Pubs and bars,NaN,0,No,Bar,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,"ITPL Main Road, Whitefield",Sheraton Grand Bengaluru Whitefield Hotel & Co...,080 49652769,No,Finger Food,Pubs and bars,4.3 /5,236,Yes,Bar,"2,500"
51716,The Nest - The Den Bengaluru,"ITPL Main Road, Whitefield","ITPL Main Road, KIADB Export Promotion Industr...",+91 8071117272,No,"Finger Food, North Indian, Continental",Pubs and bars,3.4 /5,13,No,"Bar, Casual Dining","1,500"

In [119]:
# validating by again checking the location column
order_z_data['location'].isnull().sum()

0

**For filling the cuisines column I am taking the same approach to fill as I taken in location column because most of the restaurants are in same location so the chance of same cuisines is more!**

In [125]:
order_z_data['cuisines'].fillna(method = 'bfill', limit = 1, inplace = True)

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/1277404132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['cuisines'].fillna(method = 'bfill', limit = 1, inplace = True)

In [126]:
order_z_data

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1/5,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1/5,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8/5,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7/5,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8/5,166,No,Casual Dining,600
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,Whitefield,"Four Points by Sheraton Bengaluru, 43/3, White...",080 40301477,No,Continental,Pubs and bars,3.6 /5,27,No,Bar,"1,500"
51713,Vinod Bar And Restaurant,Whitefield,"Number 10, Garudachar Palya, Mahadevapura, Whi...",+91 8197675843,No,Finger Food,Pubs and bars,NaN,0,No,Bar,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,Whitefield,Sheraton Grand Bengaluru Whitefield Hotel & Co...,NM,No,Finger Food,Pubs and bars,NaN,0,No,Bar,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,"ITPL Main Road, Whitefield",Sheraton Grand Bengaluru Whitefield Hotel & Co...,080 49652769,No,Finger Food,Pubs and bars,4.3 /5,236,Yes,Bar,"2,500"
51716,The Nest - The Den Bengaluru,"ITPL Main Road, Whitefield","ITPL Main Road, KIADB Export Promotion Industr...",+91 8071117272,No,"Finger Food, North Indian, Continental",Pubs and bars,3.4 /5,13,No,"Bar, Casual Dining","1,500"

In [127]:
# validating by checking again the cuisines column 
order_z_data['cuisines'].isnull().sum()

0

In [147]:
order_z_data['rate'] = order_z_data['rate'].str.replace('/5', ' ')

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/2692209636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['rate'] = order_z_data['rate'].str.replace('/5', ' ')

In [148]:
order_z_data.head()

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8,166,No,Casual Dining,600

### Here I use ffill to fill the missing data point as for now but we can also use the mean and median to do so.
##### To fill the missing values of rate column I am going use the concept of mean.
- Mean or Median Imputation: In this approach, the missing values in the rating column are replaced with the mean or median value of the available ratings. This method assumes that the missing values are missing at random and that the overall distribution of ratings is relatively stable.

In [161]:
order_z_data['rate'].fillna(method = 'ffill', inplace = True)

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/2574308259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['rate'].fillna(method = 'ffill', inplace = True)

In [163]:
# validating by checking again the rate column
order_z_data['rate'].isnull().sum()

0

In [166]:
order_z_data.dtypes

name                           object
location                       object
address                        object
phone                          object
online_order                   object
cuisines                       object
listed_in(type)                object
rate                           object
votes                           int64
book_table                     object
rest_type                      object
approx_cost(for two people)    object
dtype: object

#### using the same method as for now to fill the missing point of the rest_type column

In [167]:
order_z_data['rest_type'].fillna(method = 'ffill', inplace = True)

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/560888731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['rest_type'].fillna(method = 'ffill', inplace = True)

In [168]:
# validating by checking the rest_type column
order_z_data['rest_type'].isnull().sum()

0

In [172]:
order_z_data['approx_cost(for two people)'].fillna(method = 'ffill', inplace = True)

C:\Users\kumar\AppData\Local\Temp/ipykernel_19960/2707760037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_z_data['approx_cost(for two people)'].fillna(method = 'ffill', inplace = True)

In [174]:
# validating by checking the  column
order_z_data['approx_cost(for two people)'].isnull().sum()

0

In [175]:
order_z_data

,name,location,address,phone,online_order,cuisines,listed_in(type),rate,votes,book_table,rest_type,approx_cost(for two people)
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8,166,No,Casual Dining,600
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,Whitefield,"Four Points by Sheraton Bengaluru, 43/3, White...",080 40301477,No,Continental,Pubs and bars,3.6,27,No,Bar,"1,500"
51713,Vinod Bar And Restaurant,Whitefield,"Number 10, Garudachar Palya, Mahadevapura, Whi...",+91 8197675843,No,Finger Food,Pubs and bars,3.6,0,No,Bar,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,Whitefield,Sheraton Grand Bengaluru Whitefield Hotel & Co...,NM,No,Finger Food,Pubs and bars,3.6,0,No,Bar,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,"ITPL Main Road, Whitefield",Sheraton Grand Bengaluru Whitefield Hotel & Co...,080 49652769,No,Finger Food,Pubs and bars,4.3,236,Yes,Bar,"2,500"
51716,The Nest - The Den Bengaluru,"ITPL Main Road, Whitefield","ITPL Main Road, KIADB Export Promotion Industr...",+91 8071117272,No,"Finger Food, North Indian, Continental",Pubs and bars,3.4,13,No,"Bar, Casual Dining","1,500"

In [178]:
order_z_data.isnull().sum()

name                           0
location                       0
address                        0
phone                          0
online_order                   0
cuisines                       0
listed_in(type)                0
rate                           0
votes                          0
book_table                     0
rest_type                      0
approx_cost(for two people)    0
dtype: int64

### Finally I cleaned my dataset my removing the missing data point with valid values

## And the last which I want to do is that I want to change the column name with the meaningfull name

In [181]:
Cleaned_Zomato_Data = order_z_data.set_axis(['Restaurant_Name','Location','Address','Phone_Number','Online_Order','Cuisines','listed_in(type)','Rating','Votes','book_table','Rest_Type','Charge'], axis='columns')

In [182]:
Cleaned_Zomato_Data.head()

,Restaurant_Name,Location,Address,Phone_Number,Online_Order,Cuisines,listed_in(type),Rating,Votes,book_table,Rest_Type,Charge
0,Jalsa,Banashankari,"942, 21st Main Road, 2nd Stage, Banashankari, ...",080 42297555\r\n+91 9743772233,Yes,"North Indian, Mughlai, Chinese",Buffet,4.1,775,Yes,Casual Dining,800
1,Spice Elephant,Banashankari,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",080 41714161,Yes,"Chinese, North Indian, Thai",Buffet,4.1,787,No,Casual Dining,800
2,San Churro Cafe,Banashankari,"1112, Next to KIMS Medical College, 17th Cross...",+91 9663487993,Yes,"Cafe, Mexican, Italian",Buffet,3.8,918,No,"Cafe, Casual Dining",800
3,Addhuri Udupi Bhojana,Banashankari,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",+91 9620009302,No,"South Indian, North Indian",Buffet,3.7,88,No,Quick Bites,300
4,Grand Village,Basavanagudi,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",+91 8026612447\r\n+91 9901210005,No,"North Indian, Rajasthani",Buffet,3.8,166,No,Casual Dining,600